.cardList {
    width: 100%;
    max-width: 100vw;

    display: grid;
    grid-gap: 1em;
    justify-content: center;

    overflow-y: hidden;

    padding: 1em;
    box-sizing: border-box;
}

.horizontal {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 200px;
}

.vertical {
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 360px;

    grid-template-columns: repeat(auto-fill, 230px);
    grid-auto-columns: minmax(300px, 1fr);
}

.oneLine {
    display: flex;
    align-items: center;
    justify-content: left;
    /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-columns: minmax(300px, 1fr);
    grid-auto-flow: column;
    grid-column-start: auto;
    overflow-x: auto; */
}

.oneLine > div {
    min-width: 300px;
    height: 200px;
}